@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

*{
    margin: 0;
    padding: 0;
}
/********************************************************************************************/
#myVideo {
    position: relative;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: no-repeat;
    background-size: cover;
}
/********************************************************************************************/
.afooter, .alogin, .asignup, .ahome{ 
    float: right;
}

#icon{
    padding: 5px;
}

body{
    background: linear-gradient(135deg, #9b59b6,#71b7e6);
}

.logo{
    position: relative;
    z-index: 1;
    margin-top: -45px;
}

.divisor{
    margin-top: -50px;
}

.divisor1{
    margin-left: 575px;
    height: 5px;
    width: 750px;
}

#cookieDel{
    border-radius: 5px;
    padding: 5px;
}

.cookie{
    color: white;
    background-color: black;
    text-align: center;
}

.row{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.main-block4__item{
    border-radius: 5px;
    color: white;
    border-width: 5px;
    border-color: #191a19;
    margin-top: -50px;
}

.main-block4__item-content{
    margin-top: -65px;
    margin-bottom: 20px;
    margin-left: 3px;
    font-size: 20px;
}

.learn-more__link{
    color:  white;
}

.middlePart{
    background-color: black;
    width: 99%;
    height: 500px;
    border-radius: 5px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-bottom: 20px;
}
/********************************************************************************************/
.footer{
position: relative;
bottom: 0;
left: 0;
width: 100%;
background-color: black;
border-width: 10px;
border-color: white;
text-align: center;
color: #f4f4f4;
}

.icons{
padding-top: 1rem;
}

.icons a{
font-size: 2rem;
margin: 0.5rem;
color: #f4f4f4;
}

.company-name{
font-size: 1.6rem;
margin-top: 0.5rem;
}

@media (max-width: 500px){
html{
    font-size: 50%;
}
}    

@media(min-width: 501px) and (max-width: 768px){
html{
font-size: 50%;
}
}
/********************************************************************************************/
/* Add a black background color to the top navigation */
.topnav {
    /* background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%); */
    background-color: black;
    overflow: hidden;
    z-index: 2;
    padding: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Add an active class to highlight the current page */
.active {
    float: left;
    border-radius: 4px;
    width: 60px;
    margin-top: -10;
    background-color: blue;
    color: black; 
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: right;
    overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: blue;
    color: white;
    border-radius: 4px;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    background-color: blue;
    color: white;
    border-radius: 4px;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1800px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
    }
    .topnav a.icon {
    float: right;
    display: block;
    }
}

@media screen and (max-width: 1800px) {
    .rowcards{
    display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
    }
}
/********************************************************************************************/

.container {
    position: relative;
    width: 100%;
    height: 60px;
    margin-bottom: 750px;
    justify-content: space-between;
    background: white;
  }
  
  .card {
    width: 60%;
    height: 80%;
    max-height: 300px;
    padding: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 25px 25px 50px peachpuff, -25px -25px 50px peachpuff;
  }
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 100%;
    height: 60%;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    color: black;
  }
  .card__content {
    width: 90%;
    height: 95%;
    background: linear-gradient(135deg, #9b59b6,#71b7e6);
    margin: 10px auto;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
  }
  .card__info{
      color: black;
      margin-top: 0px;
  }
  .card__content:hover {
    margin-top: -10px;
  }
  .card__header {
    font-size: 20px;
    margin: 40px auto;
  }
  .card__button {
    padding: 10px;
    width: 200px;
    border-radius: 15px;
    background: white;
    color: black;
    font-weight: bold;
    border: none;
    margin: 40px auto;
  }
.card:hover{
    border-width: 2px;
    border: #191a19;
}
.imgcard{
    max-width: 300px;
    max-height: 200px;
}


/* Style inputs */
.text, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  .sub {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
  }
  
  .sub:hover {
    background: linear-gradient(135deg, #9b59b6,#71b7e6);
  }
  
  /* Style the container/contact section */
  .middlePart {
    padding: 10px;
    height: 650px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 