@import url("style.css");

* {
    box-sizing: border-box;
  }
  
  body{
    background: linear-gradient(135deg, #9b59b6,#71b7e6);
}

  /* Style inputs */
  p, h1, input[type="number"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  .ahome{
    float: right;
  }
  .add {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
  }
  
  .add:hover {
    background-color: blueviolet;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  